<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <h1 class="center">Viernes</h1>
            <div>
                <form action="/friday?_method=PUT" method="POST">
                    <div class="container">
                        <div class="form">
                            <label for="time">Hora </label>
                            <select name="time" id="time">
                            <% for (let i = 0; i < fridayFree.length; i++) { %>
                                <option value="<%= fridayFree[i].time %>"><%= fridayFree[i].time %></option>
                            <% } %>
                            </select>
                        </div>
                        <div class="form">
                            <label for="fixed">Fijo  </label>
                            <input class="checkbox" type="checkbox" name="fixed">
                            <label class="court" for="court">Cancha:</label>
                            <select class="court_select center" name="court">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>   
                        </div>
                        <div class="form">
                            <label for="name">Responsable: </label>
                            <input type="text" name="name">
                        </div>
                        <div class="form">
                            <label for="tel">Teléfono: </label>
                            <input type="tel" name="tel">
                        </div>
                        <div class="center">
                            <button tipe="submit">Agregar horario</button>
                        </div>
                    </div>
                </form>
            </div>
            <section>
                <% for(let i = 0; i < fridayReserved.length; i++) { %>
                    <div class="reserved center">
                        <div class="hour">
                            <h3>Hora: <%= fridayReserved[i].time %></h3> 
                            <p class="courtNumber">Cancha <%= fridayReserved[i].court %></p> 
                        </div>
                        
                        <div>
                            <p class="name"><%= fridayReserved[i].name %></p>
                            <p class="tel"><%= fridayReserved[i].tel %></p>
                            <% if(fridayReserved[i].fixed == 1) { %>
                                <p class="fixed">Horario fijo</p>
                                <form class="formFixed center" action="/friday/delete/<%= fridayReserved[i].id %>?_method=PUT" method="POST">
                                    <button type="submit" class="fixedButton">Borrar</button>
                                </form>
                            <% } %>
                        </div>

                        
                    </div>
                <% } %>
            </section>
            <form action="/friday/reset?_method=PUT" method="post">
                <div class="center">
                    <button id="reset">Reiniciar</button>
                </div>
                
            </form>
        </main>
    </body>
<script src="/javascripts/menu.js"></script>
</html>