<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <h1 class="center">Sábado</h1>
            <div>
                <form action="/saturday?_method=PUT" method="POST">
                    <div class="container">
                        <div class="form">
                            <label for="time">Hora </label>
                            <select name="time" id="time">
                            <% for (let i = 0; i < saturdayFree.length; i++) { %>
                                <option value="<%= saturdayFree[i].time %>"><%= saturdayFree[i].time %></option>
                            <% } %>
                            </select>
                        </div>
                        <div class="form">
                            <label for="fixed">Fijo  </label>
                            <input class="checkbox" type="checkbox" name="fixed">  
                        </div>
                        <div class="form">
                            <label for="name">Responsable: </label>
                            <input type="text" name="name">
                        </div>
                        <div class="form">
                            <label for="tel">Teléfono: </label>
                            <input type="tel" name="tel">
                        </div>
                        <div class="center">
                            <button tipe="submit">Agregar horario</button>
                        </div>
                    </div>
                </form>
            </div>
            <section>
                <% for(let i = 0; i < saturdayReserved.length; i++) { %>
                    <div class="reserved center">
                        <div class="hour">
                            <h3>Hora: <%= saturdayReserved[i].time %></h3>  
                        </div>
                        
                        <div>
                            <p class="name"><%= saturdayReserved[i].name %></p>
                            <p class="tel"><%= saturdayReserved[i].tel %></p>
                            <% if(saturdayReserved[i].fixed == 1) { %>
                                <p class="fixed">Horario fijo</p>
                                <form class="formFixed center" action="/saturday/delete/<%= saturdayReserved[i].id %>?_method=PUT" method="POST">
                                    <button type="submit" class="fixedButton">Borrar</button>
                                </form>
                            <% } %>
                        </div>

                        
                    </div>
                <% } %>
            </section>
            <form action="/saturday/reset?_method=PUT" method="post">
                <div class="center">
                    <button id="reset">Reiniciar</button>
                </div>
                
            </form>
        </main>
    </body>
<script src="/javascripts/menu.js"></script>
</html>